link(rel='import', href='../../bower_components/polymer/polymer.html')

polymer-element(name='pi-about')
  template
    link(rel='stylesheet', href='pi-about.css')

    core-media-query(query="max-width: 768px" queryMatches="{{phoneScreen}}")

    h1.title 植物碎片

    p.des 植物碎片是一个关于濒危植物的展览，每种植物由30块碎片组成，通过碎片的形状、坐标、颜色的变化，从一种植物变成另一种植物。这一场植物盛典庆祝了基因的多样性，同时也意在提醒人们关注这些正在逝去的美丽。希望你可以享受这场植物盛典，并从中得到一些启发。

    .source
      p 特别链接：
      ul
        li
          a(href="http://www.species-in-pieces.com") spieces in pieces

      p 植物资料来源：
      ul
        li
          a(href="http://rep.iplant.cn/") 中国珍稀濒危植物信息系统
        li
          a(href="http://amuseum.cdstm.cn/AMuseum/dangerplant/") 濒危植物网
        li
          a(href="http://www.cvh.org.cn/db/data_allspmfinal/data_index.php?action=exit&id=1") 中国数字植物标本馆
        li
          a(href="http://www.cvbg.cn/index.aspx") 中国数字植物园
        li
          a(href="baike.baidu.com") 百度百科
        li
          a(href="http://www.wikipedia.org/") 维基百科
        li
          a(href="http://www.doc88.com/p-7713982374753.html") 特有珍稀植物宝华玉兰种群分布格局和群落特征
        li
          a(href="http://www.biodiversity-science.net/CN/abstract/abstract9814.shtml") 伯乐树种群遗传多样性及遗传结构
        li
          a(href="http://www.ecologica.cn/stxb/ch/reader/view_abstract.aspx?file_no=stxb201109101326") 珍稀濒危植物长蕊木兰种群的年龄结构与空间分布
        li
          a(href="http://www.docin.com/p-551594191.html") 珍稀濒危植物珙桐群落特点及种群动态研究
        li
          a(href="http://article.yeeyan.org/view/350831/370852") 气候变化或会彻底消灭马达加斯加的奇特猴面包树
        li
          a(href="http://www.greentimes.com/green/news/kejiao/kjtg/content/2014-10/28/content_274403.htm") 从1株到1万株，普陀鹅耳枥不再孤单
        li
          a(href="http://www.docin.com/p-721341869.html") 濒危植物银杉的种群统计与年龄结构

    .footer madeby kelly wang | 2015.06

  script.
    (function () {Polymer({

    });})();
