link(rel='import', href='../../bower_components/polymer/polymer.html')

polymer-element(name='pi-about')
  template
    link(rel='stylesheet', href='pi-about.css')

    core-media-query(query="max-width: 768px" queryMatches="{{phoneScreen}}")

    h1.title 植物碎片

    p.des 植物碎片是一个关于濒危植物的展览，每种植物由30块碎片组成，通过碎片的形状，坐标，颜色的变化，从一种植物变成另一种植物。这一场植物盛典庆祝了基因的多样性，同时也意在提醒人们关注这些正在逝去的的美丽。希望你可以享受这场植物盛典，并从中得到一些启发。

    .source
      p 资料来源：
      ul
        li
          a(href="http://rep.iplant.cn/") 中国珍稀濒危植物信息系统
        li
          a(href="http://amuseum.cdstm.cn/AMuseum/dangerplant/") 濒危植物网
        li
          a(href="baike.baidu.com") 百度百科
        li
          a(href="http://www.wikipedia.org/") 维基百科

  script.
    (function () {Polymer({

    });})();
