//- 页面要用的组件
link(rel='import', href='/bower_components/paper-button/paper-button.html')
link(rel='import', href='/bower_components/paper-icon-button/paper-icon-button.html')
link(rel='import', href='/bower_components/paper-fab/paper-fab.html')


link(rel='import', href='/bower_components/core-animated-pages/core-animated-pages.html')
link(rel='import', href='/bower_components/core-icons/core-icons.html')
link(rel='import', href='/bower_components/core-icons/av-icons.html')
link(rel='import', href='/bower_components/core-media-query/core-media-query.html')


//- 自己写的组件，就可以在页面调用了
link(rel='import', href='pi-welcome/pi-welcome.html')
link(rel='import', href='falling-leaves/falling-leaves.html')
link(rel='import', href='paper-fab-menu/paper-fab-menu.html')

//- 右下角菜单要用的
link(rel='import', href='/bower_components/core-icons/image-icons.html')
link(rel='import', href='/bower_components/core-icons/editor-icons.html')
