//- 页面要用的组件
link(rel='import', href='/bower_components/paper-button/paper-button.html')
link(rel='import', href='/bower_components/paper-icon-button/paper-icon-button.html')
link(rel='import', href='/bower_components/paper-fab/paper-fab.html')
link(rel='import', href='/bower_components/paper-input/paper-input.html')

link(rel='import', href='/bower_components/core-animated-pages/core-animated-pages.html')
link(rel='import', href='/bower_components/core-icons/core-icons.html')
link(rel='import', href='/bower_components/core-icons/av-icons.html')
link(rel='import', href='/bower_components/core-media-query/core-media-query.html')
link(rel='import', href='/bower_components/core-ajax/core-ajax.html')
link(rel='import', href='/bower_components/paper-input/paper-autogrow-textarea.html')
link(rel='import', href='/bower_components/paper-input/paper-input-decorator.html')
link(rel='import', href='/bower_components/paper-toast/paper-toast.html')
//- send-btn 用的组件
link(rel='import', href='/bower_components/paper-button/paper-button-base.html')
link(rel='import', href='/bower_components/paper-ripple/paper-ripple.html')
link(rel='import', href='/bower_components/paper-shadow/paper-shadow.html')

//- 自己写的组件，就可以在页面调用了
link(rel='import', href='pi-welcome/pi-welcome.html')
link(rel='import', href='falling-leaves/falling-leaves.html')
link(rel='import', href='paper-fab-menu/paper-fab-menu.html')
link(rel='import', href='pi-plants/pi-plants.html')
link(rel='import', href='page-detail/page-detail.html')
link(rel='import', href='img-slider/img-slider.html')
link(rel='import', href='pi-video/pi-video.html')
link(rel='import', href='pi-audio/pi-audio.html')
link(rel='import', href='autoPlay-btn/autoPlay-btn.html')
link(rel='import', href='e-card/e-card.html')
link(rel='import', href='pi-comment/pi-comment.html')
link(rel='import', href='pi-about/pi-about.html')
link(rel='import', href='pi-all/pi-all.html')
link(rel='import', href='send-btn/send-btn.html')
link(rel='import', href='bg-dot/bg-dot.html')
link(rel='import', href='rainbow-cat/rainbow-cat.html')

//- 右下角菜单要用的
link(rel='import', href='/bower_components/core-icons/image-icons.html')
link(rel='import', href='/bower_components/core-icons/editor-icons.html')
