/**
 * 页面
 */
body {
  font-family: 'Microsoft Yahei','Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
  background: linear-gradient(to bottom, #ece4d9 0%,#e9dfd1 100%);
}
#noscroll {
  overflow-x: hidden;
  overflow-y: auto;
}
/**
 * 组件
 */
pi-welcome{
  margin-top: 100px;
}
.des{
  text-align: center;
  color: #AD9570;
  margin: 20px 0 150px;
}
paper-button[raised].btn{
  background: #DAC9B2;
  color: #fff;
  width: 160px;
}
.view{
  background: #DAC9B2;
}
/**
 * 平板
 */
@media(min-width: 768px){
  pi-welcome{
    margin-top: 150px;
  }
  .des{
    margin: 20px 0 50px;
  }
}
/**
 * 桌面
 */
@media(min-width: 992px){
  pi-welcome{
    margin-top: 120px;
  }
}
