:host {
  display: block;
}

.milky {
  text-transform: uppercase;
  display: block;
  font-size: 60px;
  color: #f1ebe5;
  text-shadow: 0 8px 9px #c4b59d, 0px -2px 1px #fff;
  font-weight: bold;
  letter-spacing: -4px;
  text-align: center;
  white-space: nowrap;
  margin: auto;
  border-radius: 20px;
}


/*平板*/
@media(min-width: 768px){
  .milky{
    font-size: 130px;
  }
}

/*桌面*/
@media(min-width: 992px){
  .milky{
    font-size: 200px;
  }
}

