link(rel='import', href='../../bower_components/polymer/polymer.html')
polymer-element(name='pi-welcome', attributes='')
  template
    link(rel='stylesheet', href='pi-welcome.css')
    .milky 植物碎片
  script.
    (function () {Polymer({
    });})();
