link(rel='import', href='../../bower_components/polymer/polymer.html')

polymer-element(name='pi-all', attributes="activePlant")
  template
    link(rel='stylesheet', href='pi-all.css')

    #wrap(on-tap="{{active}}")
      .item(data-file="baohuayulan") 宝华玉兰
      .item(data-file="boleshu") 伯乐树
      .item(data-file="changruimulan") 长蕊木兰
      .item(data-file="chiguoyoushu") 翅果油树
      .item(data-file="ezhangqiu") 鹅掌楸
      .item(data-file="gongtong") 珙桐
      .item(data-file="hongdoushan") 红豆杉
      .item(data-file="houmianbaoshu") 猴面包树
      .item(data-file="jinhuacha") 金花茶
      .item(data-file="putuoeerli") 普陀鹅耳枥
      .item(data-file="shuiqingshu") 水青树
      .item(data-file="shuishan") 水杉

  script.
    (function () {Polymer({
      publish: {
        activePlant: ""
      },
      ready: function(){
        this.$.wrap.addEventListener();
      },
      active: function(e){
        var me = e.target;
        this.activePlant = me.getAttribute('data-file');
      }
    });})();
