:host {
  display: block;
}
.item{
  background: #EF9F64;
  color: #fff;
  height: 100px;
  line-height: 100px;
  text-align: center;
  margin-bottom: 10px;
  cursor: pointer;
}
/**
 * pad and desktop
 */
@media(min-width: 768px){
  .item{
    margin: 10px;
    width: calc(100%/6 - 24px);
    border-radius: 10px;
    height: 100px;
    display: inline-block;
  }
}
/**
 * only pad
 */
@media(min-width: 768px) and (max-width: 1025px){
}
/**
 * only desktop
 */
@media(min-width: 1025px){
}
