<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>贺卡模板</title>
</head>
<body>
  <div>
    <img src="cid:banner" style="
    position: absolute;
    top: -100px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    width: 800px;
    height: 900px;">

    <!-- 标题 -->
    <p style="
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        text-align: center;
        font-weight: bold;
        height: 200px;
        line-height: 200px;
        border: 5px solid #E47D7D;
        border-bottom: none;
        margin: 0;
        padding: 0;
        text-transform: uppercase;
        font-size: 60px;
        color: #F2F9F1;
        text-shadow: 0 8px 9px #E1FAE2, 0px -2px 1px #E0F9E5;
        background: rgba(0,0,0,0.5)">
      来自<span style="font-size: 70px;">植物碎片</span>的问候
    </p>

    <div style="position: absolute;top:200px;bottom:0;left:0;right:0;background-image: linear-gradient(90deg, rgba(200, 0, 0, 0.3) 50%, transparent 50%), linear-gradient(rgba(200, 0, 0, 0.3) 50%, transparent 50%);
    background-image: -webkit-linear-gradient(0, rgba(200, 0, 0, 0.3) 50%, transparent 50%), -webkit-linear-gradient(rgba(200, 0, 0, 0.3) 50%, transparent 50%);
    background-image: -o-linear-gradient(0, rgba(200, 0, 0, 0.3) 50%, transparent 50%), -webkit-linear-gradient(rgba(200, 0, 0, 0.3) 50%, transparent 50%);
    background-size: 50px 50px;height: 600px;">
      <!-- 贺卡 -->
      <div style="width:720px; margin: 50px auto;box-shadow: 3px 3px 10px 1px #777;-webkit-box-shadow: 3px 3px 10px 1px #777;border:5px solid #fff;background:#fff;">
        <img src="cid:unique@kreja.ee" alt="" style="width:390px;height:390px;float:left;margin: 5px;">
        <div style="background:#fff;padding:5px;margin-left: 5px;height: 390px;width:300px;float:left;position:relative;border-left:2px solid #aaa;">
          <img src="cid:stamp" style="width:70px;height:80px;position:absolute;top:5px;right:5px;" alt="">
          <p style="font-weight:bold;margin:35px 0;">亲爱的{{msg.toName}}:</p>
          <p style="text-indent: 2em;color:#999;text-align: justify;">{{msg.wishes}}</p>
          <p style="font-weight:bold;position:absolute;bottom:5px;right:5px;text-align:right;width:100%">来自:{{msg.fromName}}</p>
        </div>
        <div style="clear:both"></div>
      </div>
    </div>

  </div>

</body>
</html>
