extends layout.jade
block title
  title 植物碎片
block content
  template#app(is='auto-binding')
    core-animated-pages#pages(flex,selected='0',
    on-core-animated-pages-transition-end='{{transitionend}}',
    transitions='cross-fade-all hero-transition')
      section(vertical, layout)
        #noscroll(fit, hero-p)
          #container(flex, vertical, wrap, around-justified, layout, cross-fade)
            template(repeat='{{item in items}}')
              //- 引导页
              div(vertical, center, center-justified, layout)
                falling-leaves
                pi-welcome
                p.des 保护濒危植物
                paper-button.btn(
                cross-fade raised on-tap='{{selectView}}'
                hero-id='item-{{item}}',
                hero?='{{$.pages.selected === item + 1 || lastSelected === item + 1}}') 进入展览
      template(repeat='{{item in items}}')
        section(vertical, layout)
          .view(flex, vertical, center, center-justified, layout,
          hero-id='item-{{item}}',
          hero?='{{$.pages.selected === item + 1 || $.pages.selected === 0}}')
            //- 新的一页
            div(cross-fade on-tap='{{back}}') back

block beforebody
  script(src='/scripts/app.js')
  script.
    addEventListener('template-bound', function(e) {
      var scope = e.target;
      var items = [], count=1;
      for (var i=0; i < count; i++) {
        items.push(i);
      }
      scope.items = items;
      scope.selectView = function(e) {
        var i = e.target.templateInstance.model.item;
        this.$.pages.selected = i+1;
      }
      scope.back = function() {
        this.lastSelected = this.$.pages.selected;
        this.$.pages.selected = 0;
      }
      scope.transitionend = function() {
        if (this.lastSelected) {
          this.lastSelected = null;
        }
      }
    })
