link(rel='import', href='../../bower_components/polymer/polymer.html')

polymer-element(name='pi-audio', attributes="autoPlay path")
  template
    link(rel='stylesheet', href='pi-audio.css')

    audio#audio(src="{{path}}",preload="metadata",loop="loop",autoplay?="{{autoPlay}}")
    paper-fab(
      icon="{{musicOn ? 'av:volume-up' : 'av:volume-off'}}"
      mini
      title="{{musicOn ? '关闭音乐' : '播放音乐'}}"
      on-tap="{{toggleMusicOn}}")

  script.
    (function () {Polymer({
      musicOn: false,
      publish: {
        autoPlay: false,
      },
      ready: function(){
        //- this.loop();
      },
      autoPlayChanged: function(){
        this.musicOn = this.autoPlay;
      },
      musicOnChanged: function(){
        this.musicOn ? this.$.audio.play() : this.$.audio.pause();
      },
      toggleMusicOn: function(){
        this.musicOn = this.musicOn ? false : true;
      },
      /**
       * 循环播放
       * @return {[type]} [description]
       */
      loop: function(){
        var me = this;
        this.$.audio.addEventListener('ended', function() {
            this.currentTime = 0;
            this.play();
        }, false);
      }
    });})();
