link(rel='import', href='../../bower_components/polymer/polymer.html')
polymer-element(name='falling-leaves', attributes='')
  template
    link(rel='stylesheet', href='falling-leaves.css')
    #leaves
      i
      i
      i
      i
      i
      i
      i
      i
      i
      i
      i
      i
      i
      i
      i
  script.
    (function () {Polymer({
    });})();
